NEXT_PUBLIC_BASE_URL=
NEXT_TELEMETRY_DISABLED=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL=

POLAR_ACCESS_TOKEN=
POLAR_WEBHOOK_SECRET=

RESEND_API_KEY=

NEXT_PUBLIC_LANGGRAPH_URL=
