# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/next-app/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/next-app/.next/
/next-app/out/

# production
/next-app/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# datbase
sqlite.db

# better auth migrations
better-auth_migrations

# better auth schemas
/src/db/schema.ts

# drizzle migrations
src/drizzle/
src/drizzle/*

# nix
shell.nix
.nix-channels
.nix-defexpr
.nix-profile
.nix-store
.nix-trust

# .envs
.envs/.local/.next
