services:
  next-app:
    build:
      context: .
      dockerfile: ./compose/staging/node/Dockerfile
    image: staging_next_app
    command: node server.js
    environment:
      - PORT=3000
      - HOSTNAME=0.0.0.0

  traefik:
    build:
      context: .
      dockerfile: ./compose/staging/traefik/Dockerfile
    image: staging_traefik
    ports:
      - '0.0.0.0:1000:1000'
