volumes:
  production_traefik: {}

services:
  next-app:
    build:
      context: .
      dockerfile: ./compose/production/node/Dockerfile
    image: production_next_app
    command: node server.js
    environment:
      - PORT=3000
      - HOSTNAME=0.0.0.0

  traefik:
    build:
      context: .
      dockerfile: ./compose/production/traefik/Dockerfile
    image: production_traefik
    depends_on:
      - next-app
    volumes:
      - production_traefik:/etc/traefik/acme
    ports:
      - '0.0.0.0:80:80'
      - '0.0.0.0:443:443'
