NEXT_PUBLIC_BASE_URL=http://localhost:3000

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

RESEND_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
 
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

DATABASE_URL=
