log:
  level: INFO

accessLog:
  filePath: /var/log/traefik/access.log
  bufferingSize: 100
  format: common

experimental:
  plugins:
    crowdsec-bouncer-traefik-plugin:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: "v1.4.5"

entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: web-secure

  web-secure:
    address: ':443'

certificatesResolvers:
  letsencrypt:
    acme:
      email: 'example@example.com'
      storage: /etc/traefik/acme/acme.json
      httpChallenge:
        entryPoint: web

http:
  routers:
    web-secure-router:
      rule: 'Host(`example.com`) || Host(`www.example.com`)'
      entryPoints:
        - web-secure
      middlewares:
        - csrf
        - crowdsec
      service: next-app
      tls:
        certResolver: letsencrypt

  middlewares:
    csrf:
      headers:
        hostsProxyHeaders: ['X-CSRFToken']
    crowdsec:
      plugin:
        crowdsec-bouncer-traefik-plugin:
          enabled: true
          crowdsecMode: stream
          crowdsecLapiScheme: http
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiKey: ${CROWDSEC_LAPI_KEY}
          crowdsecLapiPath: /
          crowdsecAppsecEnabled: false

  services:
    next-app:
      loadBalancer:
        servers:
          - url: http://next-app:3000

providers:
  file:
    filename: /etc/traefik/traefik.yml
    watch: true
